*{
    font-family:"Courier New"
}
h3{
    color:blue;
}
h1{
    color:#b92b27;
}
#login{
    background-color:white;
}
#signup{
    color:white;
    background-color:#b92b27;
}
.upvote{
   background-color:green;
   color:aliceblue;
}
.post a{
    color:purple;
    background-color:yellow;
}
nav ul li a{
    color:hotpink;
}
p+h3{
    text-decoration:underline;
}
.upvote+button{
    background-color:red;
}
div>input{
    background-color:yellow;
}
input[type="text"]{
    color:red;
}
input[type="password"]{
    color:green;
}
input[type]{
    background-color:ghostwhite; 
}
button:hover{
    background-color:black;
    color:white;
}
h3:hover{
    text-decoration:overline;
}
button:active{
    background-color:pink;
}
p:active{
    font-weight:bold;
    color:green;
}
input[type="radio"]:checked + label{
    color:red;
    font-weight:bold;
}
.post:nth-of-type(2n){
    background-color:red;
}
.post::selection{
    background-color:red ;
}